.hero {
  background: url(../images/contact_bg.jpg) top center / cover no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Contacts */
.contacts-form {
  position: relative;
  padding: 74px 48px 88px 48px;
  background: var(--border);
  border-radius: 7px;
}

.contacts-form .contacts-form-title h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contacts-form .form-control {
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: solid 2px #e1e1e1;
  font-size: 1.6rem;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  color: var(--white-color);
}

.contacts-form .form-control:nth-child(1),
.contacts-form .form-control:nth-child(2) {
  width: calc((100% - 30px) / 2);
}

.contacts-form .form-control:nth-child(1) {
  margin-right: 2rem;
}

.contacts-form .form-control:nth-child(3) {
  display: block;
  width: 100%;
}

.contacts-form form textarea {
  height: 126px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 19px;
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border-bottom: solid 2px #e1e1e1;
  padding-top: 11px;
  font-size: 1.6rem;
}

.contacts-form .btn-contacts {
  background-color: var(--btn-black);
  border-radius: 30px;
  color: var(--white-color);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contacts-form .btn-contacts:hover {
  opacity: 0.8;
}

.contacts-about {
  margin-top: 5rem;
}

.contacts-item a span {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--black);
}

.contacts-item p {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #a5a5a5;
  font-weight: 600;
  line-height: 2;
}

.contacts-about ul {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.contacts-item ul li {
  width: 32px;
  height: 32px;
  color: var(--primary-color);
  border: solid 2px #fa9e1b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  margin-right: 9px;
}

.contacts li a i {
  font-size: 1.5rem;
}

.contacts-item .contacts-info {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.contacts-item .contacts-info img {
  max-width: 20px;
  display: block;
}

.contacts-item .contacts-info span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2d2d2d;
  padding-left: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contacts-item .contacts-info span:hover {
  color: var(--primary-color);
}
