/* Tablet */
@media only screen and (max-width: 1076px) {
  .hero-top h2 {
    font-size: 8rem;
  }

  .hero-top p {
    font-size: 6rem;
    margin-top: 2rem;
  }

  .tour-list .tour-item {
    margin-top: 5rem;
  }
}

/*   Moblie */
@media only screen and (max-width: 768px) {
  .header-search {
    display: none;
  }
}
